@model LoginForgotPasswordViewModel
@{
    ViewBag.Title = "Password Recovery";
}
@Html.BootstrapValidationSummary()
<div class="row">
    <div class="col-md-6">
        <p>Please enter the email address you gave us when you registered and we'll send you a link so you can create a new password.</p>
        @using (Html.BeginForm("ForgotPassword", "Login", FormMethod.Post, new { id = "frmMain", role = "form" }))
        {
            @Html.AntiForgeryToken()
            using (Html.BootstrapBeginForm().ForInput())
            {
                @Html.BootstrapInput(m => m.Email)
                using (Html.BootstrapBeginFormButtonRow())
                {
                    @Html.BootstrapSubmitButton("Email Link", Actions.Email)
                    @Html.BootstrapActionLink("Home", "Index", "Home")
                }
            }
        }
    </div>
</div>