@model LoginResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
}
@Html.BootstrapValidationSummary()
<div class="row">
    <div class="col-md-6">
        @using (Html.BeginForm("ResetPassword", "Login", FormMethod.Post, new { id = "frmMain", role = "form" }))
        {
            @Html.AntiForgeryToken()
            using (Html.BootstrapBeginForm().ForInput())
            {
                @Html.BootstrapInput(m => m.Email)
                @Html.BootstrapInput(m => m.Password)
                @Html.BootstrapInput(m => m.ConfirmPassword)
                using (Html.BootstrapBeginFormButtonRow())
                {
                    @Html.BootstrapSubmitButton("Reset", Actions.Reset)
                    @Html.BootstrapActionLink("Home", "Index", "Home")
                }
            }
            @Html.HiddenFor(m => m.UserId)
            @Html.HiddenFor(m => m.Code)
        }
    </div>
</div>