@model ProfileEditNameModel
@{
    ViewBag.Title = "Edit Name";
}
<div class="header">
    <h5 class="header__title font-weight-bold">
        @ViewBag.Title
    </h5>
</div>
@Html.BootstrapValidationSummary()
@using (Html.BeginForm("EditName", "Profile", FormMethod.Post, new { id = "frmMain", novalidate = "novalidate" }))
{
    using (Html.BootstrapBeginForm().ForInput())
    {
        @Html.BootstrapInput(m => m.FirstName)
        @Html.BootstrapInput(m => m.LastName)
        using (Html.BootstrapBeginFormButtonRow())
        {
            @Html.BootstrapSubmitButton("Update", Actions.Update)
            @Html.BootstrapActionLink("Cancel", "Index", "Profile")
        }
    }
}