@model LoginForgotPasswordViewModel
@{
    ViewBag.Title = "Password Recovery";
}
@Html.BootstrapValidationSummary()
<div class="row">
    <div class="col-md-6">
        <p>Please enter the email address you gave us when you registered and we'll send you a link so you can create a new password.</p>
        @using (Html.BeginForm("ForgotPassword", "Login", FormMethod.Post, new { id = "frmMain", @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-sm-3 control-label" })
                <div class="col-sm-9">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", required = "required", maxlength = "256", email = "email" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-9 offset-sm-3">
                    <input type="submit" class="btn btn-primary" value="Email Link" />
                    @Html.ActionLink("Home", "Index", "Home", null, new { @class = "btn btn-primary" })
                </div>
            </div>
        }
    </div>
</div>